.input-short__content {
  display: flex;
}

.input-short__input {
  width: 52px;

  input {
    text-align: right;
  }
}

.input-short__val {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
