@import '../../scss/variables.scss';

.run-build-button {
  display: none;
  margin-right: 8px;

  @media (max-width: $desktop) {
    display: block;
  }
}

.run-build-button-desktop {
  margin-right: 8px;
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.build-list {
  list-style: none;
}

.build-list__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.build-list__more {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    width: auto;
    margin-bottom: 20px;
  }
}

.newbuild {
  max-width: 485px;
  width: 100%;

  &__title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__sub {
    margin-bottom: 12px;
  }

  &__input {
    margin-bottom: 12px;
  }

  &__run {
    margin-right: 10px;
  }
}
