@import '../../scss/variables.scss';

@keyframes modal-anim {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes backdrop-anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

$anim-time: 0.3s;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: $page-padding-x;
  padding-right: $page-padding-x;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal--closed {
  display: none;
}

.modal--closing {
  .modal__content {
    animation-name: modal-anim;
    animation-duration: $anim-time;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
  }

  .modal__backdrop {
    animation-name: backdrop-anim;
    animation-duration: $anim-time;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
  }
}

.modal--opening {
  .modal__content {
    animation-name: modal-anim;
    animation-duration: $anim-time;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
  }

  .modal__backdrop {
    animation-name: backdrop-anim;
    animation-duration: $anim-time;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
  }
}
