:root {
  --color-text: #000;
  --color-text-second: #7f8285;
  --color-text-disabled: #7f7f7f;
  --color-bg-main: #fff;
  --color-bg-second: #f0f2f3;
  --color-bg-heavy: #d9d9d9;
  --color-bg-action: #fc0;
  --color-bg-action-hovered: #f2c200;
  --color-bg-disabled: #f2f2f2;
  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-control-disabled: var(--color-bg-disabled);
  --color-border-focused: #b3b3b3;
  --color-success: #00b341;
  --color-warn: #ff9a00;
  --color-error: #f33;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background-color: var(--color-bg-main);
  width: 100%;
  flex-grow: 1;
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-feature-settings: 'liga', 'kern';
  -moz-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';
  font-weight: 400;
  font-size: 13px;
}

#root {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.footer-link {
  color: var(--color-text-second);
  text-decoration: none;
  transition: color linear 0.1s;

  &:hover {
    color: #e00000;
  }
}
